.r-wrapper{
    padding: 1.5rem;
}

.r-conatiner{
    padding: 1.5rem 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    
}
.r-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}

.ornagetexxt{
    color: orange;
    font-size: 1.5rem;
    font-weight: 600;
}

.primarytext{
    color: #1f3e72;
    font-weight: bold;
    font-size: 2rem;
}
.secondrytext{
    color: rgba(140, 139, 139, );
    font-size: 0.9rem;
}

.r-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: .6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
}
.r-card>img{
    width: 100%;
    max-width: 15rem;
}
.r-card>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 600;
}
.r-card>:nth-child(3){
    font-size: 1.5rem;

}
.r-card>:nth-child(4){
    font-size: .7rem;
    width: 15rem;
}
.r-card:hover{
    cursor: pointer;
    scale: 1.025;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 0%,
        rgba(136,160,255,0.46) 217.91%
    );
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.r-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   


}
.r-button button{
    font-size: 1.2rem;
    padding: .2rem .8rem;
    color: blue;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
 
 